.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  max-width: 100%;
  overflow-x: auto;
}


body{
  background-color: #f7f5f5;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;

}


input[type="text"]{
  padding:10px;
  border:none;
  border-radius:5px;
  margin-bottom:20px;
  width:300px;
  font-size: 16px;
}

h1{
  font-size: 32px;
  color: #ff6961;
  margin-bottom: 20px;
}

.MemeCard{
  flex: 0 0 200px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 5px;
  margin-bottom: 20px;
  width: 100px;
  text-align: center;
}

.MemeCard img{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.MemeCard h3 {
  font-size: 18px;
  color: #333333;
}

.MemeCard{
  width: 100%
}